
.up{

	color: rgb(20, 208, 20);
}

.down{
	color: red;
}

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 0px auto;
    	padding: 50px;
	overflow: hidden;
    
}

.chat-header {
	background: #36373b;
	color: black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-header h1{

    color: #fff;
}

.chat-header a{

    background-color: #2d2f37;
    border: 2px solid white;
    color: white;
}

.chat-main {
	display: grid;
    border: 2px solid #36373b;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    border-right: 2px solid #36373b;
	background: white;
	color: black;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
	font-size: 17px;
}

.chat-sidebar ul li {
	padding: 10px 0;
    list-style: none;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {

	margin-bottom: 15px;
	background-color: silver;
	border-radius: 5px;
	overflow-wrap: break-word;
}

.message h2{

	margin-bottom: 0px;
	padding: 20px 15px 20px;
}

.message p{
	padding: 0px 15px 15px;
}

.message .meta{
	padding: 15px 15px 5px;
}
.message .text{

	padding: 0px 15px 20px;
}

.chat-messages .auto-message {
	background-color: whitesmoke;
	border-radius: 5px;
	overflow-wrap: break-word;
}
.auto{
	padding: 10px;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: bold;
	color: #950c93;
	opacity: 0.7;
}
.chat-messages .auto-message .auto span {
    color: #777;
}
.text-auto{
	padding-bottom: 25px;
	padding-left: 10px;
}
.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: black;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {

    border: 2px solid #36373b;
	padding: 20px 30px;
	background-color: #36373b;;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.btn-stop{

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (max-width: 850px){
	#users{
		display: none;
	}
}

@media screen and (max-width: 430px){

	.chat-messages .message {
		padding: 10px;
		margin-bottom: 15px;
		background-color: silver;
		border-radius: 5px;
		overflow-wrap: break-word;
		font-size: 10px;
	}

	.chat-form-container form {
		width: 200px;
		margin: 0 auto;
	}

	.chat-form-container input[type='text'] {

		width: 100%;
		height: 30px;
	}

	.btn {

		padding: 1px;
	}

	.btn-stop{

		padding: 1px;
	}
	

}